# Data Exploration

## Happiness index
* https://www.kaggle.com/datasets/ajaypalsinghlo/world-happiness-report-2023

## vs

## World Educational Data
*https://www.kaggle.com/datasets/nelgiriyewithana/world-educational-data

* correlation between educqation and happiness
* gender disparity in education affect on happiness
* Develop a predictive model to forecast happiness scores based on gender disparities in education indicators, such as enrollment rates and literacy rates between males and females.

In [1]:
# python 3.12.0

In [2]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\DataForFigure2.1WHR2023.xls
data\DataForTable2.1WHR2023.xls
data\.ipynb_checkpoints\data_expl-checkpoint.ipynb
data\.ipynb_checkpoints\Untitled-checkpoint.ipynb

In [8]:
happiness_report = pd.read_excel('data/DataForFigure2.1WHR2023.xls')

In [9]:
happiness_report.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.8042,0.036162,7.875078,7.733322,10.792010,0.968770,71.149994,0.961408,-0.018824,0.181745,1.777825,1.888380,1.584900,0.534574,0.771510,0.126331,0.535299,2.363241
1,Denmark,7.5864,0.041028,7.666815,7.505985,10.962164,0.954112,71.250145,0.933533,0.134242,0.195814,1.777825,1.949406,1.547875,0.537302,0.734416,0.208459,0.525221,2.083766
2,Iceland,7.5296,0.048612,7.624879,7.434321,10.895531,0.982533,72.050018,0.936349,0.210987,0.667848,1.777825,1.925508,1.619666,0.559096,0.738164,0.249635,0.187119,2.250382
3,Israel,7.4729,0.031609,7.534853,7.410946,10.638705,0.943344,72.697205,0.808866,-0.023080,0.708094,1.777825,1.833398,1.520674,0.576730,0.568518,0.124048,0.158292,2.691290
4,Netherlands,7.4030,0.029294,7.460416,7.345583,10.942279,0.930499,71.550018,0.886875,0.212686,0.378929,1.777825,1.942274,1.488228,0.545473,0.672327,0.250547,0.394062,2.110044

In [10]:
happiness_report_table_2 = pd.read_excel('data/DataForTable2.1WHR2023.xls')

In [12]:
# find country with name
ireland_info = happiness_report_table_2[happiness_report_table_2['Country name'] == 'Ireland']

In [13]:
ireland_info

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
893,Ireland,2006,7.144247,10.982106,0.967041,69.620003,0.943275,0.236722,0.472849,0.814785,0.208634
894,Ireland,2008,7.568030,10.938672,0.982522,69.860001,0.894109,0.316799,0.486995,0.745195,0.147759
895,Ireland,2009,7.045911,10.876213,0.958702,69.980003,0.834730,0.310157,0.579600,0.745341,0.232699
896,Ireland,2010,7.257390,10.887454,0.972886,70.099998,0.856030,0.342998,0.618024,0.762811,0.200655
897,Ireland,2011,7.006904,10.891397,0.977378,70.220001,0.952034,0.378097,0.589913,0.786444,0.190309
898,Ireland,2012,6.964645,10.887104,0.961786,70.339996,0.902195,0.297068,0.572632,0.721398,0.236662
899,Ireland,2013,6.760085,10.893033,0.955188,70.459999,0.883772,0.326395,0.558394,0.744002,0.245268
900,Ireland,2014,7.018379,10.968678,0.967745,70.580002,0.921630,0.258488,0.406036,0.736091,0.228723
901,Ireland,2015,6.830125,11.177324,0.952943,70.699997,0.892277,0.227724,0.408757,0.748266,0.225349
902,Ireland,2016,7.040731,11.185904,0.958144,70.800003,0.874589,0.170545,0.398544,0.744258,0.211063
903,Ireland,2017,7.060155,11.261244,0.943482,70.900002,0.905341,0.212120,0.337085,0.771208,0.212784
904,Ireland,2018,6.962336,11.330688,0.937862,71.000000,0.861472,0.139546,0.362210,0.753603,0.213050
905,Ireland,2019,7.254841,11.369993,0.943726,71.099998,0.892459,0.068902,0.372804,0.758422,0.223300
906,Ireland,2020,7.034931,11.419710,0.960311,71.199997,0.882098,0.002065,0.355633,0.752609,0.246447
907,Ireland,2021,6.827652,11.537581,0.849838,71.300003,0.846344,0.132697,0.360423,0.732734,0.245211
908,Ireland,2022,6.869864,11.624914,0.906079,71.400002,0.895010,0.140264,0.357812,0.737860,0.234126

In [45]:
edu_report = pd.read_excel('data/education_world.xls')

In [46]:
edu_report.head()

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89

In [52]:
# find report on ireland
ireland_edu_info = edu_report[edu_report['Countries and areas'] == 'Republic of Ireland']

In [53]:
ireland_edu_info.head()

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
85,Republic of Ireland,53.41291,8.24389,2,2,0,0,0,0,2,...,0,0,88,84,0,0,12.5,100.9,77.8,4.93

## Data Cleaning on Happiness

### Missing Values
* Handle appropriately

In [76]:
print(happiness_report.isnull().sum()) # null values in three columns

Country name                                  0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       1
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           1
dtype: int64

In [117]:
print(happiness_report_table_2.isnull().sum()) # multiple null values in majority of columns

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   20
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         33
Generosity                           73
Perceptions of corruption           116
Positive affect                      24
Negative affect                      16
dtype: int64

In [ ]:
# explore null values - fill with imputation (fillna() if appropriate)

In [75]:
#print(happiness_report[happiness_report['Explained by: Healthy life expectancy'].isnull()])
print(happiness_report[happiness_report['Dystopia + residual'].isnull()])

          Country name  Ladder score  Standard error of ladder score  \
98  State of Palestine        4.9078                        0.092278

    upperwhisker  lowerwhisker  Logged GDP per capita  Social support  \
98      5.088666      4.726934               8.716377        0.859495

    Healthy life expectancy  Freedom to make life choices  Generosity  \
98                      NaN                        0.6945    -0.13237

    Perceptions of corruption  Ladder score in Dystopia  \
98                   0.835795                  1.777825

    Explained by: Log GDP per capita  Explained by: Social support  \
98                           1.14396                      1.308868

    Explained by: Healthy life expectancy  \
98                                    NaN

    Explained by: Freedom to make life choices  Explained by: Generosity  \
98                                    0.416328                  0.065409

    Explained by: Perceptions of corruption  Dystopia + residual
98                                 0.066824                  NaN

In [79]:
palestine_info = happiness_report[happiness_report['Country name'] == 'State of Palestine']

In [85]:
palestine_info

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
98,State of Palestine,4.9078,0.092278,5.088666,4.726934,8.716377,0.859495,NaN,0.6945,-0.13237,0.835795,1.777825,1.14396,1.308868,NaN,0.416328,0.065409,0.066824,NaN

In [151]:
hist_pal_info = happiness_report_table_2[happiness_report_table_2['Country name'] == 'State of Palestine']

In [152]:
hist_pal_info

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1828,State of Palestine,2006,4.716388,8.201193,0.817945,61.779999,0.546506,NaN,0.857824,0.491536,0.430580
1829,State of Palestine,2007,4.151054,8.180532,0.711819,61.897499,0.365296,-0.079686,0.844180,0.515242,0.412328
1830,State of Palestine,2008,4.385603,8.275286,0.665911,62.014999,0.357757,-0.072082,0.753213,0.512987,0.403283
1831,State of Palestine,2009,4.470191,8.336612,0.738077,62.132500,0.467812,-0.088146,0.797354,0.473768,0.466428
1832,State of Palestine,2010,4.702604,8.362596,0.821746,62.250000,0.504262,-0.118035,0.752415,0.552513,0.381490
1833,State of Palestine,2011,4.751220,8.451591,0.750832,NaN,0.521889,-0.127747,0.750208,0.499074,0.387651
1834,State of Palestine,2012,4.646608,8.598372,0.782169,NaN,0.541583,-0.160553,0.730194,0.559733,0.378504
1835,State of Palestine,2013,4.844028,8.594526,0.760900,NaN,0.453903,-0.160124,0.779646,0.536739,0.365276
1836,State of Palestine,2014,4.721938,8.618412,0.775087,NaN,0.657050,-0.160567,0.804165,0.504632,0.380452
1837,State of Palestine,2015,4.695239,8.683147,0.766101,NaN,0.556041,-0.169831,0.774301,0.536447,0.369085
1838,State of Palestine,2016,4.906618,8.737954,0.817771,NaN,0.607669,-0.148602,0.812465,0.543776,0.377642
1839,State of Palestine,2017,4.628133,8.733621,0.824345,NaN,0.631611,-0.182863,0.830646,0.533918,0.416072
1840,State of Palestine,2018,4.553922,8.717741,0.819479,NaN,0.654535,-0.159904,0.813780,0.528392,0.418929
1841,State of Palestine,2019,4.482537,8.716377,0.832550,NaN,0.653488,-0.132370,0.829283,0.538073,0.399672
1842,State of Palestine,2022,4.907760,NaN,0.859655,NaN,0.694853,NaN,0.835795,0.584111,0.361776

In [148]:
palestine_info_imput

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
98,State of Palestine,4.9078,0.092278,5.088666,4.726934,8.716377,0.859495,0.0,0.6945,-0.13237,0.835795,1.777825,1.14396,1.308868,0.0,0.416328,0.065409,0.066824,0.0

In [153]:
mean_log_gdp = hist_pal_info['Log GDP per capita'].mean()
print(mean_log_gdp)

8.514854226793561

In [157]:
mean_life_exp = hist_pal_info['Healthy life expectancy at birth'].mean()
print(mean_life_exp)

62.01499938964844

In [160]:
mean_generosity = hist_pal_info['Generosity'].mean()
print(mean_generosity)

-0.13542369180000746

In [ ]:
hist_pal_info['Log GDP per capita'].fillna(mean_log_gdp, inplace=True)

In [ ]:
hist_pal_info['Healthy life expectancy at birth'].fillna(mean_life_exp, inplace=True) # need better method - too many nulls

In [ ]:
hist_pal_info['Generosity'].fillna(mean_generosity, inplace=True)

In [162]:
hist_pal_info

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1828,State of Palestine,2006,4.716388,8.201193,0.817945,61.779999,0.546506,-0.135424,0.857824,0.491536,0.430580
1829,State of Palestine,2007,4.151054,8.180532,0.711819,61.897499,0.365296,-0.079686,0.844180,0.515242,0.412328
1830,State of Palestine,2008,4.385603,8.275286,0.665911,62.014999,0.357757,-0.072082,0.753213,0.512987,0.403283
1831,State of Palestine,2009,4.470191,8.336612,0.738077,62.132500,0.467812,-0.088146,0.797354,0.473768,0.466428
1832,State of Palestine,2010,4.702604,8.362596,0.821746,62.250000,0.504262,-0.118035,0.752415,0.552513,0.381490
1833,State of Palestine,2011,4.751220,8.451591,0.750832,62.014999,0.521889,-0.127747,0.750208,0.499074,0.387651
1834,State of Palestine,2012,4.646608,8.598372,0.782169,62.014999,0.541583,-0.160553,0.730194,0.559733,0.378504
1835,State of Palestine,2013,4.844028,8.594526,0.760900,62.014999,0.453903,-0.160124,0.779646,0.536739,0.365276
1836,State of Palestine,2014,4.721938,8.618412,0.775087,62.014999,0.657050,-0.160567,0.804165,0.504632,0.380452
1837,State of Palestine,2015,4.695239,8.683147,0.766101,62.014999,0.556041,-0.169831,0.774301,0.536447,0.369085
1838,State of Palestine,2016,4.906618,8.737954,0.817771,62.014999,0.607669,-0.148602,0.812465,0.543776,0.377642
1839,State of Palestine,2017,4.628133,8.733621,0.824345,62.014999,0.631611,-0.182863,0.830646,0.533918,0.416072
1840,State of Palestine,2018,4.553922,8.717741,0.819479,62.014999,0.654535,-0.159904,0.813780,0.528392,0.418929
1841,State of Palestine,2019,4.482537,8.716377,0.832550,62.014999,0.653488,-0.132370,0.829283,0.538073,0.399672
1842,State of Palestine,2022,4.907760,8.514854,0.859655,62.014999,0.694853,-0.135424,0.835795,0.584111,0.361776

In [168]:
# update original happiness report with imputed values...

In [167]:
print(happiness_report.isnull().sum())

Country name                                  0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       1
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           1
dtype: int64

### Duplicates

In [87]:
print(happiness_report.duplicated().sum())

0

In [88]:
print(happiness_report_table_2.duplicated().sum())

0

## Inconsistencies

In [113]:
print(happiness_report['Country name'].nunique())
print(happiness_report['Country name'].shape)

137
(137,)

In [115]:
print(happiness_report_table_2['Country name'].nunique())
print(happiness_report_table_2['Country name'].shape)

165
(2199,)

In [116]:
print(happiness_report_table_2['Country name'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
2194       Zimbabwe
2195       Zimbabwe
2196       Zimbabwe
2197       Zimbabwe
2198       Zimbabwe
Name: Country name, Length: 2199, dtype: object

In [124]:
happiness_report_table_2.head(15)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919
5,Afghanistan,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204,0.547417,0.273328
6,Afghanistan,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242,0.491641,0.374861
7,Afghanistan,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638,0.491410,0.339276
8,Afghanistan,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246,0.501409,0.348332
9,Afghanistan,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393,0.435270,0.371326
10,Afghanistan,2018,2.694303,7.630801,0.507516,53.575001,0.373536,-0.091106,0.927606,0.384561,0.404904
11,Afghanistan,2019,2.375092,7.640086,0.419973,53.900002,0.393656,-0.106016,0.923849,0.324108,0.502474
12,Afghanistan,2021,2.436034,7.324032,0.454175,54.549999,0.394306,-0.081011,0.946299,0.178886,0.606713
13,Afghanistan,2022,1.281271,NaN,0.228217,54.875000,0.368377,NaN,0.733198,0.205868,0.575512
14,Albania,2007,4.634252,9.121704,0.821372,66.760002,0.528605,-0.010429,0.874700,0.488819,0.246335

## Data Cleaning on Education

### Check for Missing Values
* Handle appropriately

In [128]:
print(edu_report.isnull().sum()) # no null columns

Countries and areas                        0
Latitude                                   0
Longitude                                  0
OOSR_Pre0Primary_Age_Male                  0
OOSR_Pre0Primary_Age_Female                0
OOSR_Primary_Age_Male                      0
OOSR_Primary_Age_Female                    0
OOSR_Lower_Secondary_Age_Male              0
OOSR_Lower_Secondary_Age_Female            0
OOSR_Upper_Secondary_Age_Male              0
OOSR_Upper_Secondary_Age_Female            0
Completion_Rate_Primary_Male               0
Completion_Rate_Primary_Female             0
Completion_Rate_Lower_Secondary_Male       0
Completion_Rate_Lower_Secondary_Female     0
Completion_Rate_Upper_Secondary_Male       0
Completion_Rate_Upper_Secondary_Female     0
Grade_2_3_Proficiency_Reading              0
Grade_2_3_Proficiency_Math                 0
Primary_End_Proficiency_Reading            0
Primary_End_Proficiency_Math               0
Lower_Secondary_End_Proficiency_Reading    0
Lower_Secondary_End_Proficiency_Math       0
Youth_15_24_Literacy_Rate_Male             0
Youth_15_24_Literacy_Rate_Female           0
Birth_Rate                                 0
Gross_Primary_Education_Enrollment         0
Gross_Tertiary_Education_Enrollment        0
Unemployment_Rate                          0
dtype: int64

### Duplicates

In [129]:
print(edu_report.duplicated().sum())

0

### Inconsistencies

In [130]:
print(edu_report['Countries and areas'].nunique())
print(edu_report['Countries and areas'].shape)

202
(202,)

In [131]:
edu_report.head()

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89